.home-div {
    display: flex;

    main {
        text-align: center;
        .main-container {
            padding: 0 48px;
            display: flex;
            flex-wrap: wrap;
            gap: 64px;
        }
    }
}