.tamanho-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 40px;
}

.tamanho {
  width: 32px; 
  height: 32px;
  border: 1px solid var(--gray-100);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    border: 1px solid var(--blue);
    
    p {
        color: var(--black);
      }
  }

  p {
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--gray-100);
  }
 
}

