@import '../../../styles/global.scss';

.btn-filt {
    display: flex;
    text-align: center;
    width: 100%;
    cursor: pointer;

    span {
        font-size: 12px;
        text-decoration: underline;
        color: var(--gray-200);

        .ibtn {
            color: var(--gray-200);
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

@include mobile {
    .tit {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .ibtn {
            width: 18px;
            height: 18px;
            font-size: 12px;
        }

    }
}

@media (min-width: 376px) {
    .tit {
        svg {
            display: none;
            opacity: 0;
            overflow: hidden;
        }
    }
}