.btn {
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--blue);
    color: #fff;
    font-weight: 700;
    border: none;
    margin-bottom: 2px;
    padding: 8px 31px;
    width: 200px; /*175px*/
}