@import '../../../styles/global.scss';

.precos {
    margin-top: 24px;
}

@include mobile {
    .tamanho-filter {
        margin-top: 20px;
    }

    .tit {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 376px) {
    .tit {
        span {
            display: none;
            opacity: 0;
            overflow: hidden;
        }
    }
}