@import 'reset';

:root {
    --black: #000000;
    --gray-100: rgba(0, 0, 0, 0.5);
    --gray-200: #666666;
    --blue: #00C0EE;
}

$mobile-width: 400px;

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
button,
input,
div {
    font-family: 'Open Sans', sans-serif;
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

.container {
    margin: auto 162px;

    @include mobile {

        margin: auto 16px;

    }
}