.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 100%;
    height: 100%;

    .header-modal {
        padding: 16px 0;
        border-bottom: 2px solid var(--gray-100);

        .resp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 16px;

            p {
                font-size: 28px;
                color: var(--gray-100);
                text-transform: uppercase;
                font-weight: 400;
            }

            .closs {
                font-size: 25px;
                color: var(--gray-100);
            }
        }

    }

    .list-ord {
        margin: 30px 16px;
    }

    .bts {
        display: flex;
        gap: 23px;
        width: auto;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .btn1 {
        border: none;
        background: var(--blue);
        padding: 30px;
        font-size: 14px;
        background: var(--blue);
        padding: 8px;
        color: #fff;
        width: 50%;
    }

    .btn2 {
        border: 1px solid var(--gray-200);
        color: var(--gray-200);
        background: none;
    }
}