@import '../../styles/global.scss';
.header {
    padding: 16px 0;
    border-bottom: 2px solid #c7c7c7;

    .container-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 162px;

        @include mobile {
            margin: auto 27px;
        }
    }

    img {
        width: 127px;
        height: 30px;
    }
}

.bagde {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: 20px;
    }

    div {
        background-color: var(--blue);
        border-radius: 100%;
        padding: 2.5px;
        position: absolute;
        bottom: 0px;
        left: 10px;
        text-align: center;

        span {
            font-size: 10px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;        
        }
    }
}

@media (max-width: 624px) {
    .header{

        .container-nav {
            margin: auto 20px;
        }
    }
}